header, section{
    text-align: center;
}

#its1{
    color: firebrick;
    font-size: 70px;
    font-family: Arial;
    font-weight: bold;
}

#tecnm{
    color: blue;
    font-size: 50px;
    font-family: 'Courier New';
    font-weight: bold;
    text-align: center;
}

.tecnm{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.its{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.barra{
    width: 900px;
    height: 5px;
}

#area{
    font-size: 35px;
}

#parrafo{
    font-size: 20px;
    width: 900px;
    margin: auto;
}

footer{
    font-size: 30px;
    text-align: center;
}
body{
    background-color: greenyellow;
}

.imagen1{
width: 300px;
height: 300px;
border:1px solid black;
}

.tecnm{
    width: 220px;
    height: 125px;
    
}

.its{
    width: 150px;
    height: 125px;
    
}

#imagentecnm{
    text-align: left;
}